<h1>マイページ</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">
                名前
            </th>
            <td>
                <%= @customer.last_name %><%= @customer.first_name %>
            </td>
        </tr>
        <tr>
            <th scope="row">
                名前
            </th>
            <td>
                <%= @customer.last_name %><%= @customer.first_name %>
            </td>
        </tr>
    </tbody>
</table>