
<div class="container">
<br>
ようこそ、ながのCAKEへ！
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、
購入には会員登録が必要になります。



<h1>新着商品</h1>
 <div class="row">
     <% @items.each do |item| %>
     <div class="col-md-5">
         <td>
             <%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image %>
             <% end %>
         </td>
         <td><%= item.name %></td>
         <td><%= item.price %></td>
     </div>
     <% end %>
 </div>   
</div>





<br>