<div class="container">
<h1>商品一覧</h1>   
 <div class="row">
     <% @items.each do |Item| %>
     <div class="col-md-5">
         <%= items.name %>
     </div>
     <% end %>
 </div>   
</div>


<div class="container"></div>

<h1>商品一覧</h1>
<div class=""></div>
<table>
    <thead>
        <tr>
            <th>
                <td>
                    
                </td>
                
            </th>
        </tr>
    </thead>
</table>