<div class="container">
<h1>商品一覧</h1>   
 <div class="row">
     <% @items.each do |item| %>
     <div class="col-md-5">
         <td>
             <%= link_to item_path(item.id) do %>
             <%= image_tag item.image.variant(resize: '100x100') %>
             <% end %>
         </td>
         <td><%= item.name %></td>
         <td><%= item.price %></td>
     </div>
     <% end %>
 </div>   
</div>
